<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644714333877-120vrkjeaqnlmihnacereairhcv9i2ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644714333877-120vrkjeaqnlmihnacereairhcv9i2ih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644714333877-7ofomv1e9dke876u0r9p6qfdm6763cs8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6BBIOzBi4B5LuSjh1sBO34uTOhzbjco</string>
	<key>GCM_SENDER_ID</key>
	<string>644714333877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chi.fitnessStorm</string>
	<key>PROJECT_ID</key>
	<string>fitness-strom-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-strom-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644714333877:ios:576cca000fca062cb820fc</string>
</dict>
</plist>